body {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
/* Header -------------------------------------*/
.navbar-desktop {
  display: none;
}
.navbar {
  background-color: #e2e2e2;
  box-shadow: 0 3px 15px hsla(242, 100%, 71%, 0.411);
  margin-bottom: none;
}
.navbar-brand {
  font-size: 27px;
  margin: 7px;
  font-weight: bold;
  text-shadow: #424242 1px 1.3px 2.5px;
}
.boton-header {
  background-color: #4f4ae0;
  color: rgb(46, 46, 46);
  border-radius: 8px;
  margin-right: 15px;
  border: none;
  height: 38px;
  width: 89;
}
.color-azul {
  color: #4f4ae0;
}
.btn-outline-success {
  color: #e2e2e2;
  background-color: #4f4ae0;
  border: none;
}
.form-control {
  border-radius: 8px;
  border: none;
  background-color: #b3b1ee;
  color: #000000;
}
/* Main ---------------------------------------*/
.enlaces {
  display: none;
}
.linea {
  display: none;
}
.titulo-desktop {
  display: none;
}
h2 {
}
#carouselExampleAutoplaying {
  border-radius: 90px;
  overflow: hidden;
}
.carousel {
  margin: 10px auto;
  width: 97%;
}
h1 {
  font-size: 22px;
  margin: 0 10px 30px 10px;
  text-shadow: #af98ff 1px 2px 1px;
}
h3 {
  margin: 40px 0px 50px 18px;
}
.contenedor-productos-destacados {
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px;
}
.producto-destacado {
  height: 200px;
  box-shadow: 5px 5px 0px 2px #d1d1d1;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 15px;
}
.producto-destacado img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.producto-destacado-info {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.producto-destacado-info button {
  align-self: center;
  color: #ebebeb;
  margin-top: 20px;
  padding: 0% 50px;
}
.contenedor-productos-destacados-pag2 {
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 100px;
}
.producto-destacado-pag2 {
  height: 200px;
  box-shadow: 5px 5px 0px 2px #d1d1d1;
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 15px;
  background-color: white;
}
.producto-destacado-pag2 img {
  width: 40%;
  height: auto;
  margin: 5px;
  object-fit: contain;
}
.producto-destacado-pag2-info {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.producto-destacado-pag2-info button {
  align-self: center;
  color: #ebebeb;
  margin-top: 20px;
  padding: 0% 40px;
}
 .izquierda {
    float: left;
    margin: 30px;
  }
  .izquierda h1 {
    font-weight:bold;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .izquierda button {
   padding: 25px 40px;  
   margin: 0 0 60px 0;  
   background-color: #4F4AE0;
   border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
  }
  .izquierda input {
    margin:auto;
    padding: 15px 39px;
    background-color: rgba(148, 148, 148, 0.596);
    border: none;
  }
  .izquierda input::placeholder {
    color: rgb(134, 134, 134);
    opacity: 1; 
    font-size: 15px;
  }
  .izquierda label {
    font-size: 23px;
  }
  .ingreso{
    display: inline-block;
    margin: 25px;
  }
  .tipoDescargo {
    display: inline-block;
    margin: 25px;
  }
  .descargo{
    display: inline-block;
    margin: 25px;
  }
  .tipoDescargo input {
    margin:auto;
    padding: 15px 200px;  
    background-color: rgba(148, 148, 148, 0.596);
    border: none;
  }
  .descargo{
    display: inline-block;
    margin: 25px;
  }
  .descargo input {
    margin:auto;
    width: 1300px;
    height: 120px;
    padding: 10px 15px;
    background-color: rgba(148, 148, 148, 0.596);
    border: none;
    text-align: left;      
    vertical-align: top;    
  }
  .descargoBoton {
    display: flex;
    margin-left: 25px;
  }

/* Footer -----------------------------------*/
footer {
  text-align: center;
  background-color: #e2e2e2;
  color: #292929;
  padding: 30px 0;
  margin-top: 60px;
}
footer h4 {
  margin: 10px 0px 10px 0px;
}
footer button {
  background-color: #4f4ae0;
  color: #e2e2e2;
  border: none;
  border-radius: 8px;
  margin: 10px;
  margin-left: 15px;
  padding: 5px 15px;
}
.boton-preguntas {
  background-color: #9b9b9b;
  color: #292929;
}

@media (min-width: 768px) {
  body {
    font-family: "Oswald", sans-serif;
  }
  /* Header */
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    background-color: #e2e2e2;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    box-shadow: #4f4ae0 0px 2px 10px;
    margin-bottom: 90px;
  }
  .navbar-desktop input {
    border-radius: 8px;
    border: none;
    background-color: #b3b1ee;
    color: #000000;
    font-size: 21px;
    width: 650px;
    height: 55px;
    padding: 15px;
    margin: 10px 0 5px 0;
  }
  .navbar-desktop button {
    background-color: #4f4ae0;
    color: #e2e2e2;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 48px;
    font-size: 20px;
    margin: 14px 20px 0 10px;
  }
  .logo {
    font-size: 38px;
    font-weight: bold;
    text-shadow: #424242 1px 1.5px 2px;
    margin: 8px 0px 10px 15px;
  }
  /* Main */
  .titulo-mobile {
    display: none;
  }
  .enlaces a {
    color: #000000;
    font-size: 32px;
    text-decoration-line: none;
  }
  .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 300px 80px 300px;
  }
  .linea {
    display: block;
    opacity: 1;
    border: none;
    width: 75%;
    height: 2.9px;
    background-color: #4f4ae0;
    margin: 0px auto;
  }
  .titulo-desktop {
    display: block;
    font-size: 60px;
    margin: 90px 0px 30px 0px;
    text-align: center;
    text-shadow: #4f4ae0 1px 2px 3px;
    color: #000000;
  }

  .carousel {
    width: 92%;
    height: 800px;
  }
  h3 {
    font-size: 49px;
    margin: 70px 45px 60px 45px;
    text-shadow: #292929 1px 1px 2px;
  }
  .contenedor-productos-destacados {
    width: 40%;
    margin: auto;
  }
  .contenedor-productos-destacados-pag2 {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .producto-destacado-pag2 {
    width: 30%;
    margin: 17px;
  }
}
